:root {
    --main-bg-color: #fff29a;
    --primary-color: #D5E5D5;
    --secondary-color: #ADB2D4;
    --text-color: #333;
    --button-hover-color: #ADB2D4;
    --button-active-color: #70769e;

    --burnt-sienna: #dd6e42ff;
    --couleur_comple: #E38444;
    --dutch-white: #e8dab2ff;
    --paynes-gray: #4f6d7aff;
    --columbia-blue: #c0d6dfff;
    --platinum: #eaeaeaff;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c3e50;
  }

p {
margin-bottom: 20px;
}

ul {
margin: 20px 0;
padding-left: 20px;
}

li {
margin-bottom: 10px;
}

.highlight {
font-weight: bold;
color: #e67e22;
}
.bandeau {
    background-color: var(--paynes-gray); 
    color: white; 
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px; 
    border-radius: 10px;
    width: 100%;
    
}

/* .bandeau_bas {
    position:relative;
    background-color: var(--paynes-gray); 
    color: white; 
    text-align: center;
    padding-top: 20px;
    font-size: 20px; 
    border-radius: 10px;
    width: 100%; 
    bottom: 0;
    margin-top: auto;
} */

.footer-bonnbouf {
    background: #4e6a75;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.footer-bonnbouf h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #ffdfdf;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section p {
    margin: 4px 0;
    font-size: 16px;
} 

.flash_message {
    color: red;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}
.input-entry {
    display: block;
    margin: 10px 30px;
    padding: 10px;
    width: 300px;
    font-size: 14px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    transition: background-color 0.3s, transform 0.2s;
}

.input-entry:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color : var(--couleur_comple);
    text-align: center;
    margin-top: 300px;
    margin: 20px 0;
    margin-bottom: 90px;
}
.principal {
    margin-top: 70px;
    flex: 1;
    padding: 20px;
}

.container{
    padding-left: 150px;
    padding-right: 150px;
}

.container_inside{
    padding-left: 300px;
    padding-right: 300px;
}

html, body {
    background-color: var(--platinum);
    font-family: Arial, sans-serif;
    color: var(--text-color);
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.bouton {
    color: var(--paynes-gray);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.bouton_petit {
    color: var(--paynes-gray);
    text-decoration: none;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;  
}

.bouton:hover,
.bouton_co:hover {
    background-color: var(--dutch-white);
    transform: scale(1.05);
}

.bouton:active,
.bouton_co:active {
    background-color: var(--burnt-sienna);
    transform: scale(0.95);
}


.bouton_hd_inscr {   
    text-decoration: none;
    position: absolute;
    top: 14px;           
    right:50px;         
    color: var(--paynes-gray);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white; 
    z-index: 1000;           
}

.bouton_hd_inscr:hover{
    background-color: var(--couleur_comple);
    color: white;
    transform: scale(1.05);
}
.bouton_retour {
    text-decoration: none;
    position: absolute;
    top: 8px;           
    left:50px;         
    color: var(--paynes-gray);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white; 
    z-index: 1000;     

}

.bouton_retour:hover {
    background-color: var(--couleur_comple);
    color: white;
    transform: scale(1.05);      
}
.bouton_hd_co {
    text-decoration: none;
    position: absolute;
    top: 14px;           
    right: 175px;         
    color: var(--paynes-gray);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white; 
    z-index: 1000;
}

.bouton_hd_co:hover {
    background-color: var(--couleur_comple);
    color: white;
    transform: scale(1.05);
}

.confirmation{
    text-align: center;
}

#error {
    background-color: #ff4d4d; 
    color: #fff; 
    font-weight: bold;
    padding: 15px 20px;
    border-left: 6px solid #b30000;
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(255, 77, 77, 0.4);
    animation: shake 0.4s ease-in-out;
}


@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-size: 16px;
}

thead th {
    background-color: var(--paynes-gray);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
}

tbody th {
    background-color: var(--columbia-blue);
    color: var(--text-color);
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: var(--platinum);
}

tr:hover td {
    background-color: var(--dutch-white);
    transition: background-color 0.3s;
}

select.input-menu {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    background-color: #fff;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

select.input-menu:hover {
    border-color: var(--couleur_comple);
    transform: scale(1.05);
}

select.input-menu:focus {
    outline: none;
    border-color: var(--paynes-gray);
    box-shadow: 0 0 5px rgba(79, 109, 122, 0.5);
}