:root {
    --main-bg-color: #fff29a;
    --primary-color: #D5E5D5;
    --secondary-color: #ADB2D4;
    --text-color: #333;
    --button-hover-color: #ADB2D4;
    --button-active-color: #70769e;

    --burnt-sienna: #dd6e42ff;
    --dutch-white: #e8dab2ff;
    --paynes-gray: #4f6d7aff;
    --columbia-blue: #c0d6dfff;
    --platinum: #eaeaeaff;
}

body {
    margin: 0;
    padding: 0;
}

.bandeau {
    background-color: var(--paynes-gray); /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    padding: 20px; /* Espacement interne */
    font-size: 20px; /* Taille du texte */
    border-radius: 5px;
    width: 100%; /* Prend toute la largeur */
    /* z-index: 1000; Toujours au-dessus des autres éléments */
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-weight: bold;

    text-align: center;
    margin-top: 300px;
    margin: 20px 0;
    margin-bottom: 100px;
}
.principal {
    margin-top: 70px;
}
body {
    background-color: var(--platinum);
    font-family: Arial, sans-serif;
    color: var(--text-color);
    font-weight: bold;
}

.bouton {
    
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.bouton_co {
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;  
}

.bouton:hover,
.bouton_co:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

.bouton:active,
.bouton_co:active {
    background-color: var(--button-active-color);
    transform: scale(0.95);
}