<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon1.png') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />

</head>

<body>
    <div class="page_container">
        <div class="bandeau">
            lunch with me
        </div>

        <div id="main" class="principal">
            <center>
                <h1>Vous avez sélectionné</h1>
            </center>

            <div class="confirmation">

                <p>
                    <strong>Lundi :</strong>
                    {{ lundi_heure }} — {{ lundi_nb_personne }} personnes
                </p>

                <p>
                    <strong>Mardi :</strong>
                    {{ mardi_heure }} — {{ mardi_nb_personne }} personnes
                </p>

                <p>
                    <strong>Mercredi :</strong>
                    {{ mercredi_heure }} — {{ mercredi_nb_personne }} personnes
                </p>

                <p>
                    <strong>Jeudi :</strong>
                    {{ jeudi_heure }} — {{ jeudi_nb_personne }} personnes
                </p>

                <p>
                    <strong>Vendredi :</strong>
                    {{ vendredi_heure }} — {{ vendredi_nb_personne }} personnes
                </p>

            </div>

        </div>
    </div>
</body>
</html>


