<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonn Bouf - Connection</title>
    <!-- <link rel="stylesheet" href="H:\Documents\nsi\2025_2026_nsi_lndb_term4_gp1\interface\static\css\styleprincipal.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon1.png') }}">


</head>

<body>
  <div class="page_container">
    <form id="form-interet" method="POST" action="/page_principale">
        <div class="bandeau">
            lunch with me
        </div>
        <div id="main" class="principal">
            <center>
                <h1>
                    Connectez vous !
                </h1>
                <p id="error" ;>Une erreur lol</p>
            <div class="columns">
                <div class="left">
                    <p class="entry">Entrez votre nom d'utilisateur:</p>
                    <input type="text" class="input-entry" name="nom_utilisateur" placeholder="Nom d'utilisateur">
                    <br>
                    <p class="entry">Entrez votre Mot de passe :</p>
                    <input type="password" class="input-entry" name="mot_passe" placeholder="Mot de passe">
                    <br>
                    </br>
                    <button type="submit" class="bouton">Connection</button>
                    <!-- <a href="/page_principale" class="bouton">Connection</a> -->
                    <br>
                    </br>
                    <a href="/page_arrive/inscription" class="bouton_petit">Créer un compte</a>
                
                </div>
            </div>
            </center>
           
        </div>

      <div class="bandeau_bas">
        Informations:
      </div>

  </div>


</body>

<script>
    const params = new URLSearchParams(window.location.search);
    const maDiv = document.getElementById('error');
    if (! params.get('error')) {
      if (maDiv) {
        maDiv.style.display = 'none';
      }
    } else {
      if (params.get("error") === "1") {
        maDiv.innerHTML = "remplissez tous les champs !!"
      }
      if (params.get("error") === "2") {
        maDiv.innerHTML = "Utilisateur non trouvé (loool)"
      }
    }
  </script>
</html>