<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bonn Bouf - Inscription</title>
  <!-- <link rel="stylesheet" href="C:\Users\de-khovrin\Documents\GitHub\2025_2026_nsi_lndb_term4_gp1\static\css\styleprincipal.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon2.png') }}">


</head>


<body>
  <div class="bandeau">
    lunch with me
  </div>
  <div id="main" class="principal">
    <form id="form-interet" method="POST" action="/submit">
      <center>
        <h1>
          Inscrivez-vous c'est gratuit
        </h1>
        <p id="error">Une erreur lol</p>

        <p class="entry">Entrez votre prénom :</p>
        <input type="text" class="input-entry" name="prenom" placeholder="Votre prénom ici">
        <br>
        </br>
        <p class="entry">Entrez votre nom :</p>
        <input type="text" class="input-entry" name="nom" placeholder="Votre nom ici">
        <br>
        </br>
        <p class="entry">Entrez votre nom d'utilisateur :</p>
        <input type="text" class="input-entry" name="nom_utilisateur" placeholder="Votre nom d'utilisateur ici">
        <br>
        </br>
        <p class="entry">Entrez votre mot de passe :</p>
        <input type="password" class="input-entry" name="mot_passe" placeholder="Votre mot de passe ici">
        <br>
        </br>
        <button type="submit" class="bouton">S'inscrire</button>
        <br>
      </br>
        <a href="/page_arrive/connexion" class="bouton_petit">Se connecter ducon</a>

      </center>
    </form>

   

  </div>
  <div class="bandeau_bas">
    Informations:
  </div>
</body>



<script>
  const params = new URLSearchParams(window.location.search);
  const maDiv = document.getElementById('error');
  if (! params.get('error')) {
    if (maDiv) {
      maDiv.style.display = 'none';
    }
  } else {
    if (params.get("error") === "1") {
      maDiv.innerHTML = "Remplissez tous les champs !!"
    }
  }
</script>

</html>