<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <!-- <link rel="stylesheet" href="C:\Users\de-khovrin\Documents\GitHub\2025_2026_nsi_lndb_term4_gp1\static\css\styleprincipal.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon2.png') }}">


</head>

<body>
      <div class="bandeau">
        lunch with me
      </div>
      <div id="main" class="principal">

        <center>
            <h1>
                Bonn Bouf
            </h1>
            
              <a href="/pageprincipale/inscription" class="bouton">S'inscrire</a>
            <br>
              <a href="/pageprincipale/connexion" class="bouton_co">Se connecter</a>
            
        </center>
      </div>
</body>

</html>