<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonn Bouf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon1.png') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />

</head>

<body>
    <div class="page_container">
        <div class="bandeau">
            lunch with me
        </div>
        <div id="main" class="principal">
            <center>
                <h1>Vos disponibilités</h1>
                <form id="form-interet" method="POST" action="/page_confirmation">
                <p id="error" ;>Une erreur lol</p>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Jours</th>
                                    <th scope="col">Lundi</th>
                                    <th scope="col">Mardi</th>
                                    <th scope="col">Mercredi</th>
                                    <th scope="col">Jeudi</th>
                                    <th scope="col">Vendredi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Horaires</th>
                                    <td><select class="input-menu" name="lundi_horaires"> 
                                        <option value=""></option>
                                        <option value="12h10">12h10</option>
                                        <option value="13h10">13h10</option>
                                    </select></td>
                                    <td><select class="input-menu" name="mardi_horaires"> 
                                        <option value=""></option>
                                        <option value="12h10">12h10</option>
                                        <option value="13h10">13h10</option>
                                    </select></td>
                                    <td><select class="input-menu" name="mercredi_horaires"> 
                                        <option value=""></option>
                                        <option value="12h10">12h10</option>
                                        <option value="13h10">13h10</option>
                                    </select></td>
                                    <td><select class="input-menu" name="jeudi_horaires"> 
                                        <option value=""></option>
                                        <option value="12h10">12h10</option>
                                        <option value="13h10">13h10</option>
                                    </select></td>
                                    <td><select class="input-menu" name="vendredi_horaires"> 
                                        <option value=""></option>
                                        <option value="12h10">12h10</option>
                                        <option value="13h10">13h10</option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombre de personnes</th>
                                    <td><select class="input-menu" name="lundi_nombre_de_personnes"> 
                                        <option value=""></option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                    </select></td>
                                    <td><select class="input-menu" name="mardi_nombre_de_personnes"> 
                                        <option value=""></option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                    </select></td>
                                    <td><select class="input-menu" name="mercredi_nombre_de_personnes"> 
                                        <option value=""></option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                    </select></td>
                                    <td><select class="input-menu" name="jeudi_nombre_de_personnes"> 
                                        <option value=""></option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                    </select></td>
                                    <td><select class="input-menu" name="vendredi_nombre_de_personnes"> 
                                        <option value=""></option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                    </select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                <button type="submit" class="bouton">Valider</button>
                </form>
            </center>
        </div>
            <div class="bandeau_bas">
                Informations:
            </div>
    </div>
</body>
<script>
    const params = new URLSearchParams(window.location.search);
    const maDiv = document.getElementById('error');
    if (! params.get('error')) {
      if (maDiv) {
        maDiv.style.display = 'none';
      }
    } else {
      if (params.get("error") === "1") {
        maDiv.innerHTML = "Remplissez tous les champs !!"
      }
    }
  </script>
</html>