<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon1.png') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />

</head>

<body>
    <div class="page_container">
        <div class="bandeau">
            Bonn Bouf
            <a href="/deconnexion" class="bouton_hd_inscr">Se déconnecter</a>
            <a href="/retour_page_principale" class="bouton_retour"><span class="material-symbols-outlined">
                arrow_back
              </span></a>
        </div>
<div id="main" class="principal">
    <h1>Vos repas</h1>

    <div class="planning-container">
        {% for jour, personnes in personnes_par_jour.items() %}
            <div class="card-jour">
                <h3>{{ jour|capitalize }}</h3>

                {% if personnes %}
                <ul>
                    {% for p in personnes %}
                        <li>{{ p[0] }} {{ p[1] }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Aucune sélection</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<footer>
    <div class="footer-container">

        <div class="footer-col">
            <h4>Contact</h4>
            <p>📞 01 72 45 98 30</p>
            <p>📧 contact@bonnbouf.fr</p>
            <p>🛠 support@bonnbouf.fr</p>
        </div>

        <div class="footer-col">
            <h4>Réseaux</h4>
            <p>Instagram : @bonnbouf</p>
            <p>TikTok : @bonnbouf_life</p>
            <p>LinkedIn : Bonn Bouf Solutions</p>
        </div>

        <div class="footer-col">
            <h4>Légal</h4>
            <a href="#">Mentions légales</a>
            <a href="#">Politique de confidentialité</a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2025 Bonn Bouf — Tous droits réservés.
    </div>
</footer>
        </div>
    </div>
</body>
</html>
