<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonn Bouf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon1.png') }}">


</head>

<body>
    <div class="bandeau">
        lunch with me
    </div>
    <div id="main" class="principal">
        <h1>Vos disponibilités</h1>
        <div class="jours">
            <table>

                <tr>
                    <th>jours</th>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                </tr>
                <tr>
                    <select class="input-menu" name="horaires">
                        <option value=""></option>
                        <option value="12h10">12h10</option>
                        <option value="13h10">13h10</option>

                    </select>
                </tr>
                <tr>
                    <td>nombre de personnes</td>
                </tr>
            </table>
        </div>


          
    </div>
        <div class="bandeau_bas">
            Informations:
        </div>
</body>

</html>